@model StudentManagement.Models.ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "My Profile";
}

<div class="row my-4">
    <div class="col-12 col-xl-8">
        <div class="card card-body shadow-sm mb-4">
            <h2 class="h5 mb-4">Thông tin chung</h2>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">Họ và Tên</label>
                            <input class="form-control" id="first_name" type="text" placeholder="Nhập họ và tên" required
                                   disabled value="@Model.Name">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="birthday">User Code</label>
                        <div class="input-group">
                            <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                            <input class="form-control" type="text" placeholder="SV20193010" required
                                   disabled value="@Model.RollNumber">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" type="email" placeholder="name@gmail.com" 
                                   required disabled value="@Model.Email">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="gender">Giới tính</label>
                        <select class="form-select mb-0" id="gender" aria-label="Gender select example" disabled>
                            <option selected>Gender</option>
                            <option value="1">Nữ</option>
                            <option value="2">Name</option>
                            <option value="0">Khác</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input class="form-control" id="phone" type="number" placeholder="0987654321"
                                   disabled value="@Model.PhoneNumber">
                        </div>
                    </div>
                </div>
                <h2 class="h5 my-4">Vị trí</h2>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="city">Thành phố</label>
                            <input class="form-control" id="city" type="text" placeholder="Thành phố" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label for="city">Quận/Huyện</label>
                            <input class="form-control" id="city" type="text" placeholder="Quận/Huyện" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 mb-3">
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input class="form-control" id="address" type="text" placeholder="Nhập địa chỉ" required
                                   disabled value="@Model.Address">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="zip">ZIP</label>
                            <input class="form-control" id="zip" type="tel" placeholder="ZIP" disabled>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow-sm text-center p-0">
                    <div class="profile-cover rounded-top" data-background="../../assets/img/team/profile-picture-3.jpg"></div>
                    <div class="card-body pb-5">
                        <img src="@Model.Avatar ? @Model.Avatar : ../assets/img/team/profile-picture-3.jpg" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                        <h4 class="h3">
                            @User.Identity.Name
                        </h4>
                        <p class="text-gray">@Model.Address</p>
                        @*<a class="btn btn-sm btn-dark me-2" href="#"><span class="fas fa-user-plus me-1"></span> Connect</a>
                        <a class="btn btn-sm btn-secondary" href="#">Send Message</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>